.p-r-25 {
     padding-right: 25px;
 }

.p-b-15 {
    padding-bottom: 15px;
}

tbody a:hover {
    color: black !important;
    text-decoration: none !important;
    font-weight: lighter;
}

table img {
    max-height: 35%;
}

.image-holder {
    height: 150px;
}

.mw-105 {
    max-width: 105px;
}

.bg-light-gray {
    background-color: lightgray;
}

.bg-777 {
    background-color: #777;
}

.color-white {
    color: white;
}